#include <dt-bindings/zmk/rgb.h>

/ {
    chosen {
        zmk,display = &oled;
    };
};

&i2c0 {
    status = "okay";

    oled: ssd1306@3c {
        compatible = "solomon,ssd1306fb";
        reg = <0x3c>;
        width = <128>;
        height = <32>;
    };
};

&rgbled_strip {
    chain-length = <21>;
};