/ {
    chosen {
        zmk,backlight = &backlight;
        zmk,underglow = &underglow;
    };

    backlight: backlight {
        compatible = "zmk,backlight-gpio";
        gpios = <&gpio0 6 GPIO_ACTIVE_HIGH>;
    };

    underglow: underglow {
        compatible = "zmk,rgb-underglow";
        chain-length = <21>;
    };
};